@font-face {
    font-family: 'Geomanist-Bold';
    src: url('../fonts/geomanist-bold-webfont.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Geomanist-Medium';
    src: url('../fonts/geomanist-medium-webfont.ttf') format('truetype');
  }

body {
    --color-green: #77cc77;
    --color-white: white;
    --color-black: black;
    --color-gray: gray;
    --color-lightgray: lightgray;
    --color-h2gray: rgb(191, 191, 191);
    --color-blue: #2670B7;
    font-size: 1rem;
    background-color: var(--color-blue);
    color: var(--color-black);
    /* https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
}

.BG {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    animation: fadeIn 1s; 
    mix-blend-mode: luminosity;
  }

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 95vh;          /* Full viewport height */
    flex-direction: column; /* Stack items vertically */
}

.banner-adv {
    margin-top: 2rem;
    min-width: 728px;
    min-height: 90px;
}

table, .banner-adv {
    transform: translateY(4vh);
    font-family: 'Karla';
    /* min-width: 70%; */
    font-size: 2rem;
    background-color: white;
    
    filter: drop-shadow(0px 1px 1px var(--color-black)) drop-shadow(0px 0px 10px var(--color-blue));
}
.main table {
    padding: 1.5rem 3rem;
}

.main th {
    font-family: 'Geomanist-Bold';
    font-weight: 500;
    text-align: left;
    color: var(--color-blue);
    background-color: none;
    font-size: 2.5rem;
    background-color: non;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
}

.main td {
    font-weight: normal;
}

.main td:not(:empty):not(.credits):before {
    content:"▪ ";
    color: var(--color-blue);
}

.main a {
    color: var(--color-black);
}
.main a:hover, a:active {
    font-weight: bold;
    color: var(--color-blue);
}

.credits {
    text-align: center;
}
.credits img{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    filter: brightness(50%);
}
.credits img:hover, .credits img:active{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    filter: brightness(0) saturate(100%) invert(34%) sepia(96%) saturate(730%) hue-rotate(177deg) brightness(89%) contrast(86%);
}
