@media (max-width: 1000px) {
    .logoDiv{
        z-index: -1;
        position:fixed;
        left: 2rem;
        transform: none;
        width: calc(100vw/3);
    }
}

@media (max-width: 800px) {
    .body-wrapper {
        margin: 0 2rem;
    }
    .body-content{
        left: 0;
    }
    .logoDiv{
        position:fixed;
        left: auto;
        top: 2rem;
        width: calc(100vw/2);
    }
}

@media (max-width: 600px) {
    p,
    .body-content p {
        max-width: 100%;
    }
    h2,
    h2 a {
        font-size: 2.5rem;
    }
    .youtube::before,
    .twitter::before,
    .instagram::before,
    .patreon::before,
    .kofi::before,
    .threads::before,
    .store::before {
        height: 2.5rem;
        width: 2.5rem;
        transform: translateY(0.25rem);
      }
}

/* HEIGHT */
@media (max-height: 800px) and (max-width: 800px) {
    .body-content {
        padding: 0;
    }
    .logoDiv{
        display: none;
    }
}