@font-face {
  font-family: 'Geomanist-Bold';
  src: url('../fonts/geomanist-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Geomanist-Medium';
  src: url('../fonts/geomanist-medium-webfont.ttf') format('truetype');
}

html {
  font-size: 16px;
}

body {
  --color-green: #77cc77;
  --color-white: white;
  --color-black: #0B0B0B;
  --color-gray: gray;
  --color-lightgray: lightgray;
  --color-h2gray: rgb(191, 191, 191);
  --color-blue: #2670B7;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  margin: auto;
  background-color: var(--color-blue);
  color: var(--color-black);
  /* https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
}

/* BODY CONTENT MARGINS */
#videoBG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  animation: fadeIn 1s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.body-wrapper,
.nav-content {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.body-wrapper {
  display: grid;
  height: 100vh;
  place-items: center center;
}

.body-content {
  position: absolute;
  left: 50%;
  padding: 6rem 0;
}

.noMargin {
  margin: 0;
}

.noMarginTop {
  margin-top: 0;
}

input {
  font-family: 'Karla', sans-serif;
  height: 2rem;

  border-radius: 0;
}

input[type=search]::placeholder {
  color: var(--color-gray);
}

input[type=search] {
  color: var(--color-white);
  background-color: white;
  border: 1px solid var(--color-lightgray);
  padding: 0 0.5rem;
}

input[type=search]:active,
input[type=search]:focus {
  border: 1px solid var(--color-green);
}

input[type=submit] {
  color: var(--color-black);
  background-color: var(--color-lightgray);
  font-weight: bold;
  border: none;
  padding: 0 1rem;
}

input[type=submit]:hover {
  /* background-color: var(--color-green); */
}

/* BODY TEXT STYLES */

.body-content p {
  max-width: calc(50% - 2rem);
}

p {
  margin: 0;
}

a,
p a,
li a {
  color: var(--color-green);
  font-style: normal;
  text-decoration: underline;
  overflow-wrap: break-word;
}

a:hover,
p a:hover,
h1 a:hover,
li a:hover {
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-green) 10%, var(--color-green) 90%, rgba(255, 255, 255, 0) 90%); */
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:active {
  color: inherit;
}

.black {
  color: var(--color-black);
}

.gray {
  color: var(--color-gray);
  font-style: italic;
}

blockquote {
  margin: 0;
  padding-left: 15px;
  border-left: 5px solid var(--color-green);
}

code {
  max-width: 500px;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: 'Karla';
  background-color: var(--color-lightgray);
  overflow-wrap: break-word;
}

h2,
h2 a,
h1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Geomanist-Bold';
  color: var(--color-white);
  text-decoration: none;
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--color-white);
  font-family: 'Geomanist-Bold';
  text-shadow: 0px 1px 1px var(--color-black),
    0px 0px 10px var(--color-blue);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  -webkit-text-stroke-width: 0px;
}

hr {
  border: 0.5px solid var(--color-lightgray);
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
}

.rightAlign {
  text-align: right;
}

.social {
  margin-top: 1rem;
}

.social a {
  font-size: 24px;
  color: var(--color-white);
  text-shadow: 0px 1px 1px var(--color-black),
    0px 0px 10px var(--color-blue);
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, var(--color-white) 5%, var(--color-white) 87.5%, rgba(255, 255, 255, 0) 87.5%); */
}

.social a:hover {
  color: var(--color-white);
  text-shadow: 0px 1px 1px var(--color-black),
    0px 0px 10px var(--color-blue);
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, var(--color-green) 5%, var(--color-green) 87.5%, rgba(255, 255, 255, 0) 87.5%); */
}

/* H2 HOVER STYLES */
/* http://jsfiddle.net/3z8CN/ */

.headingText {
  display: inline-block;
}

h2 a {
  /* https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste// */
  color: white;
  margin-left: -0.2rem;
  /* text-shadow: 0px 0px 10px 10px var(--color-white); */
  text-shadow: 0px 1px 1px var(--color-black),
    0px 0px 10px var(--color-blue);
  transition: 0.5s;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-lightgray) 10%, var(--color-lightgray) 90%, rgba(255, 255, 255, 0) 90%); */
}

h2 a:hover {
  color: white;
  text-shadow: none;
  /* background-color: var(--color-green); */
  /* -webkit-text-stroke-color: transparent; */
  text-shadow: 0px 1px 1px var(--color-black),
    0px 0px 10px var(--color-blue);

  padding-left: 2.5rem;
  transition: 0.5s;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, var(--color-green) 10%, var(--color-green) 90%, rgba(255, 255, 255, 0) 90%); */
}

.youtube::before {
  content: url(/img/youtube.svg);
}
.twitter::before {
  content: url(/img/twitter.svg);
}
.instagram::before {
  content: url(/img/instagram.svg);
}
.patreon::before {
  content: url(/img/patreon.svg);
}
.kofi::before {
  content: url(/img/kofi.svg);
}
.threads::before {
  content: url(/img/threads.svg);
}
.store::before {
  content: url(/img/store.svg);
}
.email::before, .emailBig::before {
  content: url(/img/email.svg);
}

.youtube::before,
.twitter::before,
.instagram::before,
.patreon::before,
.kofi::before,
.threads::before,
.emailBig::before,
.store::before {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  transform: translateY(0.5rem);
  filter: drop-shadow(0px 1px 1px var(--color-black)) drop-shadow(0px 0px 10px var(--color-blue));
}

.email::before {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  /* transform: translateY(0.5rem); */
  filter: drop-shadow(0px 1px 1px var(--color-black)) drop-shadow(0px 0px 10px var(--color-blue));
}

/* VIDEO PICTURES */

.logoDiv {
  z-index: -1;
  position: fixed;
  left: 50%;
  transform: translateX(calc(2.5rem - 500px));
  width: calc(1000px/3);
  filter: drop-shadow(0px 1px 1px var(--color-black)) drop-shadow(0px 0px 10px var(--color-blue));
  /* -webkit-filter: drop-shadow(0px 1px 1px #000000);
  filter: drop-shadow(0px 1px 1px #000000); */
}